.task{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.473);
    height: 100px;
    margin-top: 20px;
}

 .task.reminder {
    border-left: 5px solid green;
} 